@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Updock&display=swap');

:root{
    --cor-texto: #921A40;
    --cor-fundo: #C75B7A;
    --cor-secundaria: #D9ABAB;
    --cor-rosa: #F4D9D0;
    --cor-preta: #000000;
    --font: "Updock", cursive;

}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-preta);
    font-family: var(--font);
}